.logincontainer {
	height: 346px;
	width: 310px;
	position: relative;
}
.login-tab {
	height: 54px;
	line-height: 54px;
    font-size: 18px;
    font-family: "microsoft yahei";
    text-align: center;
    border-bottom: 1px solid #f4f4f4;
    position: absolute;
    background: #fff;
    display: block;
    width: 173px;
}
.saomalogin {
	left: 0px;
}
.userlogin {
	right: 0px;
}
.active {
	font-weight: 700;
    color: #e4393c;
}
.tabtitle {
	height: 54px;
}

.tab-item {
	
}
.inputcontainer {
	border: 1px solid #bdbdbd;
    height: 38px;
    width: 304px;
    position: relative;
    margin-top: 20px;
}
.login-label {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    border-right: 1px solid #bdbdbd;
    background: url(../img/tab.png) no-repeat;
    background-position: 0 0;
}

.itxt {
    line-height: 18px;
    height: 18px;
    border: 0;
    padding: 10px 0 10px 50px;
    width: 254px;
    float: none;
    overflow: hidden;
    font-size: 14px;
    font-family: '\5b8b\4f53';
    outline: none;

}

.pwd {
	background-position: -48px 0;
}

.btn-img {
    border: 1px solid #e85356;
    display: block;
    width: 302px;
    background: #e4393c;
    height: 31px;
    line-height: 31px;
    color: #fff;
    font-size: 20px;
    font-family: 'Microsoft YaHei';
    text-align: center;
    text-decoration: none;
}

.loginbtn {
	margin-top:30px;
}

.tab-item {
    margin-top: 30px;
    text-align: center;
}